<div id="search-component" style="position: relative">
  <div class="row mt-5">
    <div class="col-12 col-md-4 mx-auto">
      <div class="form-inline">
        <label for="ser-input" class="col-12">{{'search.label_depart' | translate}}</label>
        <input type="text" (input)="retrieveRequestAddress($event.target.value)"
             class="form-control rounded-0 bg-light ser-input mt-2 col-9" id="ser-input"
               style="border: none" placeholder="{{'search.placeholder_depart' | translate}}" novalidate>
        <fa-icon [icon]="faSearchLocation" (click)="getUserLocation()" style="cursor: pointer" size="lg" class="ml-2 mt-2 col-1"></fa-icon>
      </div>
      <p *ngIf="addresses.length > 0"> {{'search.msg_choose_list' | translate}}</p>
      <ngx-select-dropdown *ngIf="addresses.length > 0" (change)="handleSelectedAdress($event.value)"
                           [multiple]="false" [(ngModel)]="addressSelected" [options]="addresses"
                           [config]="config" >
      </ngx-select-dropdown>

    </div>

  </div>
  <app-map *ngIf="addressSelectedCoord && addressSelectedCoord.length > 0" [address]="addressSelectedCoord"></app-map>
</div>
